$mainColor: #0E1014;
$textColor: #E4E5EA;
$fontAccent: 'Inter', sans-serif;
$fontText: 'Montserrat', sans-serif;
$btnColor: #4077F3;
$mainGradient: linear-gradient(92deg, #fcb045 27.14%, #FF3F78 121.36%);

$breakpoint_mobile: 767px;
$breakpoint_xl: 1199px;
